<td>{{person.name}}</td>
<td><input type="checkbox" [checked]="person.hasSuperPowers" [ngModel]="person.hasSuperPowers" (ngModelChange)="attributeChanged($event,'hasSuperPowers')"></td>
<td><input type="checkbox" [checked]="person.rich" [ngModel]="person.rich" (ngModelChange)="attributeChanged($event, 'rich')"></td>
<td><input type="checkbox" [checked]="person.genious" [ngModel]="person.genious" (ngModelChange)="attributeChanged($event, 'genious')"></td>
<td><a (click)="deletePersonInit(person.id)">✖</a></td>