<table *ngIf="persons.checkAttributeInPersons(attributeData.attribute)||attributeData.isHomePage">
  <thead>
    <tr>
      <th (click)="persons.sortBy('name')">Name</th>
      <th (click)="persons.sortBy('hasSuperPowers')">SuperPower</th>
      <th (click)="persons.sortBy('rich')">Rich</th>
      <th (click)="persons.sortBy('genious')">Genious</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let person of persons.persons">
      <tr 
        person-row 
        *ngIf="person[attributeData.attribute]||attributeData.isHomePage" 
        [person]="person"
        (updateAttribute)="persons.onAttributeUpdate($event)"
        (deletePersonEvent)="persons.deletePersonInit($event)"
      ></tr>
    </ng-container>
  </tbody>
</table>