a {
    margin-left: 15px;
    color: SteelBlue;
    text-decoration: none;
}

.active {
    color: FireBrick;
    font-weight: bold;
}

.inactive {
    color: #ddd;
    pointer-events: none;
    cursor: default;
}

