<p>
    Filters:
    <a routerLink="sp" (click)="persons.state.currentAttribute = 'hasSuperPowers'" routerLinkActive="active" [ngClass]="{inactive:!persons.checkAttributInPersons('hasSuperPowers')}">Super Power</a>
    <a routerLink="rich" (click)="persons.state.currentAttribute = 'rich'" routerLinkActive="active" [ngClass]="{inactive:!persons.checkAttributInPersons('rich')}">Rich</a>
    <a routerLink="genious" (click)="persons.state.currentAttribute = 'genious'" routerLinkActive="active" [ngClass]="{inactive:!persons.checkAttributInPersons('genious')}">Genious</a>
</p>