<h1>Add New Person</h1>
    <form #addPersonForm="ngForm" (ngSubmit)="persons.addPerson(addPersonForm.value)">
      <input 
        type="text" 
        name="name" 
        [(ngModel)]="persons.personName"
        placeholder="Enter name">

      <input 
        type="checkbox" 
        id="hasSuperPowers" 
        name="hasSuperPowers"  
        [ngModel]="this.persons.currentAttribute === 'hasSuperPowers'"
        (change)="persons.getCheckboxChange($event, 'hasSuperPowers')">

      <label for="hasSuperPowers">Super Powers</label>

      <input 
        type="checkbox" 
        id="rich" 
        name="rich" 
        [ngModel]="this.persons.currentAttribute === 'rich'"
        (change)="persons.getCheckboxChange($event, 'rich')">

      <label for="rich">Rich</label>

      <input 
        type="checkbox" 
        id="genious" 
        name="genious" 
        [ngModel]="this.persons.currentAttribute === 'genious'"
        (change)="persons.getCheckboxChange($event, 'genious')">

      <label for="genious">Genious</label>

      <button type="submit">Add</button>
    </form>